.vara {
    background-color: black;
    border: 5px solid #0097FF;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 20%;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.v {
    display: flex;
    flex-direction: row;
    gap: 25%;
}

.img {
    margin-right: 100%;
}

h1 {
    margin-right: 0;
}

.img img {
    width: 100px;
    height: auto;
}

.Images {
    max-width: 200px;
    max-height: auto;
}

p, h1, h2 {
    color: #0097FF;
}

body {
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .vara {
        flex-direction: column; 
        gap: 10%; 
    }

    .img {
        text-align: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .vara {
        gap: 15%;
    }
}
