@font-face {
    font-family: Cakeface;
    src: url(/Cakecafe.ttf);
}

body{
    margin: 0;
    background-color: #000;
    padding-bottom: 20vh;
    display: grid;
}
.shopping-bag
{
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
}

.logga{
    visibility: transparent;
    width: 15%;
    height: auto;
    position: absolute;
    right: 0;
    margin-top: -5px;
    
}
.box1 h1,.box2 h1{
    color: #0097FF;
    margin-left: 22vh;
}

.box1 hr, .box2 hr{
    width: 80%;
    margin-top: 5vh;
    height: 3px;
    background-color: #0097FF;
    border-color: #0097FF;
    border-radius: 20px;
}


.shows
{
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
}

.filmer1, .filmer2
{
    display: flex;
    justify-content: space-evenly;
    image-resolution: 100px, 200px;
    width: 100vw ;
    height: auto;
}

.filmen
{
    width: 35vh;
    height: auto;
}
.as{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.buttons{
    background-color: black;
    color: #75D6FF;
    border-color: #0097FF;
    border-radius: 5px;
    padding: 10px;
}

@media only screen and (max-width: 1024px) {
    .shows,
    .filmer1,
    .filmer2 {
        flex-direction: column;
    }
    
    .box1 h1,
    .box2 h1 {
        margin-left: 0;
    }

    .filmen {
        width: 80%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .box1 hr,
    .box2 hr {
        margin-left: 0;
    }
}   